body
{
  color: rgb(179, 38, 171);
  background: #004cff;
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}
#result_emotion_name ,#result_emotion_name2  
{
  color: rgb(61, 109, 109);
}
.emotion_name
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}
label{
  color:rgb(37, 83, 56);
  background-color:rgb(255, 238, 0);
  padding:20px;
  border-radius: 20px;
  font-size:large;
}